<header><h1>HELLO</h1></header>

{% schema %}
{
  "name": "Custom header",
  "settings": [],
  "presets": [
    {
      "name": "Custom header"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
